@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.head{
    color:#0d0d0e;
    text-align: center;
    font-style:oblique;
    border-style: solid;
    border-color: #000000;
    border-radius: 15px;
    background:linear-gradient(90deg,#7c2b92 ,#3c7c91, #863d75);
    box-shadow: 0 0 56px rgb(35, 70, 96);
    font-family: 'poppins', sans-serif;
    display: flex;
    height:35px;
    width: 98vw;
    box-sizing: border-box;
}
.head:hover{
    cursor: default;
}

.body{
    background:linear-gradient(90deg,#410652 ,#213840, #250b1f);
}

.aud{
    text-align: center;
}

.Gojo{
    border-top-right-radius: 1cm;
    border-bottom-right-radius: 1cm;
    border-top-left-radius: 1cm;
    border-bottom-left-radius: 1cm;
    box-shadow: 0 0 265px #090707;
    border-style: solid;
    padding:9px;
}

.Gojo:hover{
    border-style:solid;
    border-color: rgb(255, 255, 255);
    scale: 1;
    transition-duration: 250ms;
    box-shadow: 0 0 45px #ffffff;
    
}
.Gojo:not(:hover){
    scale: 0.9;
    transition-duration: 250ms;
}

a{
    color: antiquewhite;
}

span{
    border-style: solid;
    padding: 0.5%;
    background:linear-gradient(black,grey);
    font-size: large;
    border-radius: 20%;
    margin:1px;
}

.home{
    width: 28px;
    height:28px;
    margin-top: 4px;
    margin-left: 1vw;
}

.aboutus{
    width: 28px;
    height:28px;
    margin-top: 4px;
    margin-left: 35vw;
}

#about{
    color: black;
}

#about:hover{
    color: white;
}

.h{
    margin-left:37vw;
    color:#0d0d0e;
    text-align: center;
    font-style:oblique;
    font-family: 'poppins',sans-serif;
    text-align:justify;
}

#a_nav{
    color:#000000;
}
#a_nav:hover{
    color: rgb(255, 255, 255)
}

.user{
    margin-left: 1vw;
    margin-top: 4px;
}

.h:hover{
    color: white;
}

#heading{
    margin-top: -7px;
}
